/* caractéristiques communes  */
body
{
    position: relative;
    font-family: 'Raleway', sans-serif;
    margin:0;
}

h1, h2, h3
{
    font-weight: bold;
}

a
{
    color: black;
    text-decoration: none;
}

/* header */
#hautSite
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#inscription
{
    text-decoration: none;
    color: #0065FC;
    font-weight: 800;
}

nav
{
    display: flex;
    flex-direction: row;
}

form 
{
    display: flex;
    flex-direction: row;
}

.villeSearch
{
    font-weight: bold;
    border: 1.5px #F2F2F2 solid;
}

#map
{
    background-color: #F2F2F2;
    margin-right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button
{
    color: white;
    background-color: #0065FC;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover
{
    border: 3px #0065FC solid;
    color: #0065FC;
    background-color: white;
    cursor: pointer;
}

#filtres
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#economique, #familial, #romantique, #animaux
{
    display: flex;
    flex-direction: row;
    position: relative;
}

#economique:hover p, #familial:hover p, #romantique:hover p, #animaux:hover p
{
    background-color:#F2F2F2;
    border: 3px  #0065FC solid;
    color: #0065FC;
}


#economique i, #familial i, #romantique i, #animaux i
{
    position: absolute;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#economique:hover i, #familial:hover i, #romantique:hover i, #animaux:hover i
{
    color: white;
    background-color:#0065FC;
}

#economique p, #romantique p, #familial p, #animaux p
{
    border-radius: 80px;
    font-weight: 700;
}

#info
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#info i
{
    color: #0065FC;
    border-radius: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hotels populaires */
#categorie
{
    display: flex;
    justify-content: space-between;
}

.cadre
{
    display: flex;
    flex-direction: row;
    background-color:white;
    margin-bottom: 30px;
    box-shadow: 0px 0px 1em rgb(212, 212, 212);
    position: relative;
}

.formatImg2
{
    text-align: center; 
    width: 100%; 
    overflow: hidden; 
}

.caracteristiques
{
    display: flex;
    flex-direction: column;
}

.caracteristiques h3
{
    margin-bottom: -10px;
    position: absolute;
}

.stars
{
    display: flex;
    flex-direction: row;
    color: #0065FC;
}

.lastStar
{
    color: #F2F2F2;
} 

/* Hotels populaire photos */ 
#soleilImg img, #eauImg img, #bleuImg img
{
    width: auto;
}

/* Hotels Marseille */ 
#cannebiereImg img, #portImg img, #mouettesImg img, #panierImg img, #merImg img, #aminaImg img
{
    height: auto; 
}

.cadre2
{
    display: flex;
    flex-direction: column;
    background-color:white;
    box-shadow: 0px 0px 1em rgb(212, 212, 212);
}

/* act Marseille */
#activitésMarseille h3
{
    font-weight: 700;
}

/* Footer */
#aPropos a, #assistance a, #nosHebergements a
{
    text-decoration: none;
    color: black;
}

footer
{
    display: flex;
    background-color: #F2F2F2;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* hover  */
nav a:hover 
{
    color: #0065FC;
}

#hebergements h4 a:hover
{
    color:#0065FC;
}

.cadreGRAND:hover, #cadre3:hover, #cadre4:hover, .cadre5:hover
{
    opacity: 0.4;
    cursor:pointer
}

.cadre:hover, .cadre2:hover
{
    opacity: 0.4;
    cursor:pointer
}


/* résolution mobile  */
@media all and (max-device-width: 480px)
{  

    /* header */
    #logo img
    {
        width: 160%;
        margin-left: 40px;
        margin-top: 15px;
        margin-bottom: 50px;
    }

    #inscription
    {
        font-size: 2.5em;
        margin-top: 50px;
        margin-right: 50px;
    }
        
    #headline h1
    {
        font-size: 3.3em;
        margin: 60px 40px 20px 50px;
    }

    #soustitre p
    {
        font-size: 1em;
        margin: 20px 0px 20px 50px;
    }


    nav
    {
        justify-content: space-around;
        border-bottom: 4px #F2F2F2 solid;
    }

    #heb, #act
    {
        display: flex;
        width: 50%;
        justify-content: center;
        margin-top: 40px;
    }

    #heb a, #act a 
    {
        font-size: 2.5em;
    }

    nav a:active
    {
        color: #0065FC;
    }

    /* formulaire de recherche */
    form 
    {
        margin-left: 50px;
        margin-bottom: 60px;
        margin-top: 80px;
    }

    .villeSearch
    {
        font-size: 3em;
        padding: 26px 0px 26px 40px;
        width: 70%;
    }

    #map
    {
        font-size: 2.7em;
        width: 12%;
        border-radius: 30px 0px 0px 30px;
    }

    button
    {
        font-size: 2.5em;
        margin-left: -50px;
        width: 12%;
        border-radius: 30px;
    }

    #search
    {
        display: none;
    }

    /* filtres  */
    header h2
    {
        margin-left: 50px;
        font-size: 2.6em;
    }

    header p 
    {
        margin-left: 20px;
        margin-bottom: 30px;
    }

    #economique, #familial, #romantique, #animaux
    {
        margin-left: 50px;
        margin-bottom: -30px;
    }

    #economique i, #familial i, #romantique i, #animaux i
    {
        width: 70px;
        height: 70px;
        font-size: 2.3em;
        padding: 20px ;
        margin-top: 42px;
    }

    #economique p, #romantique p, #familial p, #animaux p
    {
        padding: 30px 0px 30px 135px;
        border: 4px #F2F2F2 solid;
        font-size: 2.5em;
        margin-left:-1px;
    }

    #economique p, #romantique p 
    {
        width: 300px;
    }

    #familial p
    {
        width: 210px;
    }

    #animaux p
    {
        width: 420px;
    }

    /* info */
    #info
    {
        margin: 60px 0px 50px 70px;
    }

    #info p
    {
        font-size: 2.5em;
    }

    #info i
    {
        border: 2px #F2F2F2 solid;
        width: 40px;
        height: 40px;
        padding: 6px 10px 6px 10px;
        font-size: 1.8em;
        margin-top: 35px;
    }

    /* contenu hebergements pop */
    #populaires
    {
        background-color: #F2F2F2;
        padding-bottom: 20px;
        width: 100%;
    }

    #categorie
    {
        width: 100%;
        margin-bottom: 40px;
        padding-top: 40px;
    }

    #categorie h2
    {
        font-size: 3em;
        margin-left: 50px;
    }

    #categorie i
    {
        font-size: 3em;
        margin-top: 50px;
        margin-right: 50px;
    }

    /* Hotel Le soleil du matin */
    #soleilImg img
    {
        margin-left: -120px;
        margin-top: -15px;
        height: 400px; 
    }

    /* Au coeur de l'eau Chambres d'hôtes */
    #eauImg img
    {
        margin-top:-15px; 
        margin-left: -90px;
        height: 400px; 
    }

    /* Hotel Tout bleu et blanc */
    #bleuImg img
    {
        margin-top:-105px; 
        margin-left: -25px;
        height: 600px; 
    }

    /* caractéristiques communes hotels populaires*/
    .cadre
    {
        border-radius: 50px;
        margin-left: 50px;
        margin-right: 50px;
        padding: 10px;
        padding-right: 20px;
        width: 87%;
        height: 380px;
    }

    .formatImg
    {
        text-align: center; 
        width: 42%; 
        height: 100%;
        overflow: hidden; 
        margin-right: 50px;
        border-radius: 45px 0px 0px 45px;
    }

    .caracteristiques h3
    {
        font-size: 2.6em;
    }

    .caracteristiques p
    {
        font-size: 2.3em;
        margin-top: 150px;
    }


    .stars
    {
        margin-top: 80px;
        font-size: 2.2em;
    }

    #eau .stars
    {
        margin-top: 5px;
    }

    .lastStar
    {
        margin-top:-3px;
    }

    /* Hebergements à Marseille */
    #hebergements
    {
        width: 100%;
    }

    #hebergements h2
    {
        margin: 90px 0px 60px 50px;
        font-size: 3em;
    }

    #hebergements h4
    {
        font-size: 1.5em;
        margin: 80px 0px 120px 50px
    }

    /* Images hebergements à Marseille */
    #cannebiereImg img, #portImg img, #mouettesImg img, #panierImg img, #merImg img, #aminaImg img
    {
        width: 100%;
    }

    #cannebiereImg img, #portImg img, #mouettesImg img
    {
    margin-top:-145px; 
    margin-left: -5px;
    }

    #panierImg img
    {
        margin-top:-105px; 
        margin-left: -15px;
    }

    #merImg img
    {
        margin-top:-270px; 
        margin-left: -5px;
    }

    #aminaImg img
    {
        margin-top:-515px; 
    }

    /* caractéristiques communes hebergements à Marseille */
    .cadre2
    {
        border-radius: 50px;
        margin-left: 50px;
        margin-right: 50px;
        padding: 10px;
        padding-bottom: 20px;
        margin-bottom: 40px;
        width: 88%;
        height: 480px;
    }

    .formatImg2
    {
        height: 370px;
        border-radius: 45px 45px 0px 0px;
    }

    .caracteristiques2
    {
        margin-left: 50px;
        margin-top:-10px;
    }

    .caracteristiques2 h3
    {
        font-size: 2.6em;
        margin-bottom: -25px;
    }

    .caracteristiques2 p
    {
        font-size: 2.3em;
    }

    #hotelsMarseille .stars
    {
        margin-top : -15px;
        font-size: 2.2em;
    }

    #hotelsMarseille .lastStar
    {
        margin-top : -2.5px;
    }


    /* Activités */
    #activités h2
    {
        margin: 80px 0px 60px 50px;
        font-size: 3em;
    }

    #vieuxImg img, #frioulImg img, #calanquesImg img
    {
        margin-top:-40px; 
        height:auto; 
        width: 100%;
    }

    #fortImg img, #notreDameImg img, #longchampImg img
    {
        height:auto; 
        width: 100%;
    }

    #fortImg img
    {
        margin-top:-415px; 
    }

    #notreDameImg img
    {
        margin-top:-40px; 
    }

    #longchampImg img
    {
        margin-top:-75px; 
    }

    /* Caractéristiques communes Activités */
    .cadreAct
    {
        display: flex;
        flex-direction: column;
        background-color:white;
        border-radius: 50px;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 80px;
        box-shadow: 0px 0px 1em rgb(212, 212, 212);
        width: 90%;
        height: 480px;
    }

    .formatAct
    {
        text-align: center; 
        width: 100%; 
        height: 350px;
        overflow: hidden; 
        border-radius: 50px 50px 0px 0px;
    }

    #activitésMarseille h3
    {
        font-size: 2.6em;
        margin-left: 50px;
        margin-top: 40px;
    }

    /* footer */
    #aPropos h2, #assistance h2, #nosHebergements h2
    {
        font-size: 1.5em;
    }

    #aPropos a, #assistance a, #nosHebergements a
    {
        font-size: 1.4em;
    }

    footer
    {
        flex-direction: column;
        width: 100%;
        margin-top: 100px;
    }

    #aPropos, #assistance
    {
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 50px;
    }

    #nosHebergements
    {
        margin-left: 50px;
    }

}

/* résolution tablette  */
@media all and (min-device-width: 481px) and (max-width: 1023px)
{

    /* footer */
    #hautSite
    {
        margin-bottom: 20px;
    }

    #logo img
    {
        margin-left: 50px;
        margin-top: 20px;
    }

    #inscription
    {
        font-size: 1.2em;
        margin-top: 40px;
        margin-right: 50px;
    }
        
    #headline h1
    {
        font-size: 1.6em;
        margin: 40px 40px 20px 50px;
    }
    
    #soustitre p
    {
        font-size: 1.1em;
        margin: 20px 0px 20px 50px;
    }

    #heb:hover, #act:hover
    {
        border-bottom: 3px #0065FC solid;
        padding-bottom: 20px;
        width: 50%;
    }
    
    #heb, #act
    {
        width: 50%;
        margin-top: 20px;
        border-bottom: 3px #F2F2F2 solid;
        padding-bottom: 20px;
    }
    
    #heb a, #act a
    {
        font-size: 1.2em;
    }
      
    /* formulaire de recherche */
    form 
    {
        margin-left: 50px;
        margin-bottom: 60px;
        margin-top: 30px;
    }
    
    .villeSearch
    {
        padding: 15px 0px 15px 20px;
    }
    
    #map
    {
        width: 60px;
    }
    
    button
    {
        font-size: 1.3em;
        margin-left: -30px;
        width: 60px;
        border-radius: 20px;
    }

    #search
    {
        display: none;
    }
    
    /* filtres  */
    header h2
    {
        margin-left: 50px;
    }
    
    header p 
    {
        margin-left: 20px;
        margin-bottom: 20px;
    }
    
    #filtres
    {
        margin-left: 50px;
    }

    #economique i, #familial i, #romantique i, #animaux i
    {
        width: 36px;
        height: 36px;
        font-size: 1.3em;
        padding: 9px ;
        margin-top: 21px;
    }
    
    #economique p, #romantique p, #familial p, #animaux p
    {
        padding: 12px 0px 12px 70px;
        font-size: 1.3em;
    }

    #economique p, #romantique p 
    {
        width: 150px;
    }
    
    #familial p
    {
        width: 105px;
    }
    
    #animaux p
    {
        width: 210px;
    }
    
    /* info */
    #info
    {
        margin: 30px 30px 50px 50px;
    }
    
    #info i
    {
        margin-right: -8px;
    }

    /* Hebergements + hotels pop marseille */
    #catHebergements
    {
        background-color: #F2F2F2;
        width: 100%;
    }
    
    #populaires, #hebergements
    {
        padding-bottom: 45px;
    }
    
    /* Les plus populaires */
    #categorie
    {
        width: 100%;
    }
    
    #categorie h2
    {
        margin-left: 50px;
    }
    
    #categorie i
    {
        margin-right: 50px;
    }

    #hotelPop
    {
        margin-right: 50px;
        margin-left: 50px;
        margin-top: 30px;
    }
    
    /* Hotel Le soleil du matin */
    #soleilImg img
    {
        margin-left: -70px;
        margin-top: -15px;
        height: 220px; 
    }
    
    /* Au coeur de l'eau Chambres d'hôtes */
    #eauImg img
    {
        margin-top:-15px; 
        margin-left: -35px;
        height: 220px; 
    }
    
    /* Hotel Tout bleu et blanc */
    #bleuImg img
    {
        margin-top:-120px; 
        margin-left: -20px;
        height: 430px; 
    }
    
    /* caractéristiques communes hotels populaires*/
    .cadre
    {
        border-radius: 30px;
        padding-right: 10px;
        height: 190px;
    }
    
    .formatImg
    {
        width: 35%; 
        height: 190px;
        border-radius: 25px 0px 0px 25px;
    }
    
    .caracteristiques h3
    {
        font-size: 1.3em;
        margin-left: 43%;
    }
    
    .caracteristiques p
    {
        font-size: 1.1em;
        margin-top: 75px;
    }
    
    .stars
    {
        margin-top: 155px;
        font-size: 1.1em;
    }
    
    /* Hebergements à Marseille */
    #hebergements h2
    {
        margin: 90px 0px 60px 50px;
    }

    #hotelsMarseille
    {
        align-items: center;
        margin-right: 10px;
        margin-left: 40px;
        margin-top: 30px;
    }
        
    #hebergements h4
    {
        margin: 40px 0px 0px 50px
    }
        
    /* Images hebergements à Marseille */
    #cannebiereImg img, #portImg img, #mouettesImg img, #panierImg img, #merImg img, #aminaImg img
    {
        width: 120%;
    }
        
    #cannebiereImg img, #mouettesImg img
    {
        margin-top:-40px; 
        margin-left: -65px;
    }

    #portImg img
    {
        margin-top:-40px; 
        margin-left: -15px;
    }

        
    #panierImg img
    {
        margin-top:-25px; 
        margin-left: -60px;
    }
        
    #merImg img
    {
        margin-top:-100px; 
        margin-left: -55px;
    }
        
    #aminaImg img
    {
        margin-top:-220px; 
        margin-left: -55px;
    }
         
    /* caractéristiques communes hebergements à Marseille */
    .cadre2
    {
        border-radius: 30px;
        margin-right: 30px;
        width: 350px;
        height: 280px;
    }

    .formatImg2
    {
        height: 187px;
        border-radius: 25px 25px 0px 0px;
    }
        
    .caracteristiques2
    {
        margin-left: 20px;
        margin-top:-5px;
    }
        
    .caracteristiques2 h3
    {
        font-size: 1.3em;
        margin-bottom: -10px;
    }
        
    .caracteristiques2 p
    {
        font-size: 1.1em;
    }
        
    #hotelsMarseille .stars
    {
        font-size: 1.1em;
    }
        
    /* Activités */   
    #groupe1, #groupe2
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 40px;
        margin-right: 20px;
    }

    /* vieux port et calanques*/
    .cadreGRAND
    {
        display: flex;
        flex-direction: column;
        background-color:white;
        border-radius: 30px;
        margin-bottom: 30px;
        box-shadow: 0px 0px 1em rgb(212, 212, 212);
        width: 400px;
        height: 600px;
    }

    .formatImg3
    {
        height: 530px;
        border-radius: 30px 30px 0px 0px;
    }

    #vieuxImg img
    {
        margin-left: -220px;
    }

    #calanquesImg img
    {
        height:auto; 
        width: 280%;
        margin-left: -420px;
        margin-top: -100px;
    }

    /* fort de pomegues */
    #cadre3
    {
        margin-left: 30px;
        width: 400px;
        height: 350px;
    }

    #fortImg img
    {
        margin-top: -130px;
    }

    /* frioul */
    #cadre4
    {
        margin-left: 30px;
        margin-right: 20px;
        width: 400px;
        height: 220px;
    }

    /* notre dame et longchamp */
    .cadre5
    {
        margin-left: 30px;
        margin-right: 20px;
        width: 400px;
        height: 285px;
    }
        
    #activitésMarseille h3
    {
        font-size: 1.3em;
        margin-left: 30px;
        margin-top: 20px;
    }

    /* footer */
    #aPropos h2, #assistance h2, #nosHebergements h2
    {
        font-size: 1.3em;
    }
        
    #aPropos a, #assistance a, #nosHebergements a
    {
        font-size: 1.1em;
    }
        
    footer
    {
        margin-top: 100px;
    }
    
    #aPropos,#nosHebergements, #assistance
    {
        margin-left: 50px;
        margin-right: 20px;
        margin-bottom: 40px;
    }

    #assistance
    {
        margin-right: 130px;
    }
    
}

/* résolution caractéristiques communes tablette et ordi  */
@media all and (min-device-width: 481px) and (max-width: 1023px), all and (min-width: 1024px)
{
    /* header */
    #logo img
    {
        width: 110px;
    }

    #heb, #act
    {
        text-align: center;
        margin-left:0px;
        margin-right:0px;
    }

    .villeSearch
    {
        width: 280px;
    }

    .villeSearch, header h2, #map, #hebergements h4
    {
        font-size: 1.3em;
    }

    #map
    {
        border-radius: 20px 0px 0px 20px;
    }

    #economique, #familial, #romantique, #animaux
    {
        margin-bottom: -30px;
        margin-right: 20px
    } 

    #economique p, #romantique p, #familial p, #animaux p
    {
        border: 3px #F2F2F2 solid;
        margin-left: 0px;
    }

    #info p
    {
        font-size: 1.1em;
    }

    #info i
    {
        border: 1.6px #F2F2F2 solid;
        width: 10px;
        height: 10px;
        padding: 8px 8px 8px 8px;
        font-size: 1em;
        margin-top: 15px;
    }

    /* Cat Les plus populaires */
    #categorie
    {
        padding-top: 20px;
    }

    #categorie h2, #categorie i, #hebergements h2, #activités h2
    {
        font-size: 1.5em;
    }

    #categorie i
    {
        margin-top: 20px;
    }

    #hotelPop
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cadre
    {
       	padding: 5px;
        width: 93%;
    }
    
    .formatImg
    {
        text-align: center; 
        overflow: hidden; 
        position: absolute;
    }

    .caracteristiques p, .stars
    {
        margin-left: 43%;
        position: absolute;
    }

    
    .lastStar
    {
        position: absolute;
        margin-left: 100%;
        margin-top: -1px;
    }

    /* Hebergements marseille */
    #hotelsMarseille
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    .cadre2
    {
        padding: 5px;
        padding-bottom: 20px;
        margin-bottom: 30px;
        position: relative;
    }

    #hotelsMarseille .stars
    {
        margin-top : -10px;
        margin-left: 0px;
        position: absolute;
    }

    #hotelsMarseille .lastStar
    {
        display: flex;
        flex-direction: row;
        position: absolute;
        margin-top: 0.3px;
    } 

    /* activités */
    #activités h2
    {
        margin: 80px 0px 60px 50px;
    }

    .formatImg3
    {
        text-align: center; 
        width: 100%;
        overflow: hidden; 
    }

    #vieuxImg img
    {
        height:auto; 
        width: 200%;
    }

    #cadre3
    {
        display: flex;
        flex-direction: column;
        background-color:white;
        border-radius: 30px;
        margin-bottom: 30px;
        box-shadow: 0px 0px 1em rgb(212, 212, 212);
    }

    #formatImg4
    {
        text-align: center; 
        width: 100%; 
        height: 280px;
        overflow: hidden; 
        border-radius: 30px 30px 0px 0px;
    }

    aside #first
    {
        display: flex;
        flex-direction: column;
    }

    #fortImg img
    {
        height:auto; 
        width: 100%;
        margin-right: 0px;
    }

    #cadre4
    {
        display: flex;
        flex-direction: column;
        background-color:white;
        border-radius: 30px;
        margin-bottom: 30px;
        box-shadow: 0px 0px 1em rgb(212, 212, 212);
    }

    #formatImg5
    {
        text-align: center; 
        width: 100%; 
        height: 150px;
        overflow: hidden; 
        border-radius: 30px 30px 0px 0px;
    }

    #frioulImg img
    {
        height:auto; 
        width: 100%;
        margin-right: 0px;
        margin-top: -20px;
    }

    aside #second
    {
        display: flex;
        flex-direction: column;
    }

    .cadre5
    {
        display: flex;
        flex-direction: column;
        background-color:white;
        border-radius: 30px;
        margin-bottom: 30px;
        box-shadow: 0px 0px 1em rgb(212, 212, 212);
    }

    .formatImg6
    {
        text-align: center; 
        width: 100%; 
        height: 215px;
        overflow: hidden; 
        border-radius: 30px 30px 0px 0px;
    }

    #notreDameImg img
    {
        height:auto; 
        width: 115%;
        margin-left:-20px; 
    }

    #longchampImg img
    {
        height:auto; 
        width: 100%;
    }

    /* footer */
    footer
    {
        flex-wrap: wrap;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
    }

}

/* résolution ordi */
@media all and (min-width: 1024px)
{
    
    main
    {
        justify-content: center;
        margin: 30px;

    }

    /* header */
    header
    {
        margin: 30px;
    }

    #hautSite
    {
        align-items: center;
    }

    nav
    {
        justify-content: flex-end;
        margin-top: -101px;
        margin-right: 105px;
    }

    #heb:hover, #act:hover
    {
        border-top: 3px #0065FC solid;
        padding-top: 42px;
        padding-right: 0px;
    }
    
    #heb, #act
    {
        border-top: 3px transparent solid;
        padding-top: 42px;
        width: 15%;
    }

    #heb a, #act a, #inscription
    {
        font-size: 1.1em;
    }
        
    #headline h1
    {
        font-size: 1.6em;
        margin: 40px 40px 20px 0px;
    }
    
    #soustitre p
    {
        font-size: 1.1em;
        margin: 20px 0px 20px 0px;
    }
  
    /* formulaire de recherche */
    form 
    {
        margin: 30px 0px 30px 0px;
    }
    
    .villeSearch
    {
        padding: 12px 0px 12px 20px;
    }
    
    #map
    {
        width: 55px;
    }
    
    button
    {
        margin-left: -5px;
        width: 140px;
        border-radius: 0px 20px 20px 0px;
    }

    #search 
    {
        font-size: 1.4em;
        color: white;
        margin-left: 0px;
        text-align: center;
    }

    button:hover #search
    {
        color: black;
        font-weight: 600;
    }

    button:hover
    {
        background-color: #F2F2F2;
        border: none;
    }

    #send
    {
        display: none;
    }

    /* filtres  */
    header h2
    {
        position:absolute;
        margin-top: 30px;     
    }
    
    header p 
    {
        margin-bottom: 20px;
    }

    #filter
    {
        display: flex;
        flex-direction: row;
        position: relative;
    }
    
    #filtres
    {
        margin-left: 90px;
    }
    
    #economique i, #familial i, #romantique i, #animaux i
    {
        width: 26px;
        height: 26px;
        font-size: 1.1em;
        padding: 9px ;
        margin-top: 18px;
    }
    
    #economique p, #romantique p, #familial p, #animaux p
    {
        padding: 9px 0px 9px 50px;
        font-size: 1.1em;
    }

    #economique p, #romantique p 
    {
        width: 125px;
    }
    
    #familial p
    {
        width: 85px;
    }
    
    #animaux p
    {
        width: 175px;
    }
    
    /* info */
    #info
    {
        margin: 30px 30px 30px 0px;
    }

    #info i
    {
        margin-right: 15px;
    }

    /* cat pop + hebergements */
    #catHebergements
    {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }

    #populaires, #hebergements
    {
        padding-bottom: 15px;
    }
    
    /* cat populaires*/
    #populaires
    {
        background-color: #F2F2F2;
        width: 32%;
        border-radius: 30px;
    }

    #categorie h2
    {
        margin-left:30px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    
    #categorie i
    {
        margin-right: 30px;
    }

    #hotelPop
    {
        margin-right: 25px;
        margin-left: 25px;
    }
    
    /* Hotel Le soleil du matin */
    #soleilImg img
    {
        margin-left: -40px;
        height: 130px; 
    }
    
    /* Au coeur de l'eau Chambres d'hôtes */
    #eauImg img
    {
        margin-left: -20px;
        height: 130px; 
    }
    
    /* Hotel Tout bleu et blanc */
    #bleuImg img
    {
        margin-top:-30px; 
        height: 180px; 
    }
    
    /* caractéristiques communes hotels populaires*/
    .cadre
    {
        border-radius: 25px;
        padding-right: 20px;
        height: 130px;
    }
    
    .formatImg
    {
        width: 37%; 
        height: 130px;
        border-radius: 20px 0px 0px 20px;
    }
    
    .caracteristiques h3
    {
        font-size: 1.1em;
        margin-left: 43%;
    }
    
    .caracteristiques p
    {
        font-size: 1em;
        margin-top: 62px;
    }
    
    .stars
    {
        margin-top: 105px;
        font-size: 1em;
    }
    
    /* Hebergements à Marseille */
    #hebergements
    {
        background-color: #F2F2F2;
        width: 70%;
        margin-right: 25px;
        border-radius: 30px;
    }

    #hebergements h2
    {
        margin: 40px 0px 30px 30px;
    }

    #hotelsMarseille
    {
        margin-left: 20px;
        margin-top: 30px;
    }
        
    #hebergements h4
    {
        margin: 0px 0px 10px 30px
    }
        
    /* Images hebergements à Marseille */
    #cannebiereImg img, #portImg img, #mouettesImg img, #panierImg img, #merImg img, #aminaImg img
    {
        width: 100%;
    }
        
    #cannebiereImg img, #mouettesImg img
    {
        margin-top:-20px; 
    }

    #portImg img
    {
        margin-top:-25px; 
    }
  
    #panierImg img
    {
        margin-top:-10px; 
    }
        
    #merImg img
    {
        margin-top:-50px; 
    }
        
    #aminaImg img
    {
        margin-top:-115px; 
    }   
        
    /* caractéristiques communes hebergements à Marseille */
    .cadre2
    {
        border-radius: 25px;
        margin-right: 20px;
        width: 229px;
        height: 180px;
    }

    .formatImg2
    {
        height: 187px;
        border-radius: 20px 20px 0px 0px;
    }
        
    .caracteristiques2
    {
        margin-left: 10px;
        margin-top:-5px;
    }
        
    .caracteristiques2 h3
    {
        font-size: 1.1em;
        margin-bottom: -10px;
    }
        
    .caracteristiques2 p
    {
        font-size: 1em;
    }
        
    #hotelsMarseille .stars
    {
        font-size: 1em;
    }    
        
    /* Activités */
    #activitésMarseille
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    #groupe1
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 0px;
        justify-content: center;
    }

    #groupe2
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-right: 0px;
        justify-content: center;
    }

    /* vieux port et calanques*/
    #cadreCalanques
    {
        display: flex;
        flex-direction: column;
        background-color:white;
        border-radius: 25px;
        margin-bottom: 30px;
        margin-right: 30px;
        box-shadow: 0px 0px 1em rgb(212, 212, 212);
        width: 272px;
        height: 400px;
    }

    #cadreVieux
    {
        display: flex;
        flex-direction: column;
        background-color:white;
        border-radius: 25px;
        margin-bottom: 30px;
        margin-right: 30px;
        box-shadow: 0px 0px 1em rgb(212, 212, 212);
        width: 272px;
        height: 400px;
    }

    .formatImg3
    {
        height: 390px;
        border-radius: 25px 25px 0px 0px;
    }

    #vieuxImg img
    {
        margin-left: -120px;
    }

    #calanquesImg img
    {
        height:auto; 
        width: 260%;
        margin-left: -240px;
        margin-top: -60px;
    }

    /* fort de pomegues */
    #cadre3
    {
        margin-right: 30px;
        width: 272px;
        height: 225px;
    }

    #fortImg img
    {
        margin-top: -90px;
    }

    /* frioul */
    #cadre4
    {
        margin-right: 30px;
        width: 272px;
        height: 145px;
    }

    /* notre dame et longchamp */
    .cadre5
    {
        width: 265px;
        height: 185px;
    }

    #notreDameImg img
    {
        margin-top: -10px;
    }

    #longchampImg img
    {
        margin-top: -10px;
    }
        
    #activitésMarseille h3
    {
        font-size: 1.1em;
        margin-left: 15px;
    }

    /* footer */
    #aPropos h2, #assistance h2, #nosHebergements h2
    {
        font-size: 1.1em;
    }
        
    #aPropos a, #assistance a, #nosHebergements a
    {
        font-size: 1em;
    }
        
    footer
    {
        margin-top: 50px;
    }
    
    #aPropos, #nosHebergements, #assistance
    {
        margin-right: 200px;
        margin-left: 30px;
    }
    
}


@media all and (min-width: 1023px) and (max-width: 1135px)
{
    /* Hotels populaires*/
    .cadre, .formatImg, #soleilImg img, #eauImg img
    {
        height: 150px;
    }

    #bleuImg img
    {
        height: 180px;
    }

    .caracteristiques p
    {
        margin-top: 80px;
    }

    .stars
    {
        margin-top: 125px;
    }

}



    @media all and (min-width: 1024px) and (max-width: 1246px)
{
     /* Hotels populaires*/
     .cadre, .formatImg, #soleilImg img, #eauImg img
     {
         height: 180px;
     }

     #bleuImg img
     {
         height: 230px;
     }

     .caracteristiques p
     {
         margin-top: 90px;
     }
 
     .stars
     {
         margin-top: 145px;
     }

    .caracteristiques h3, .caracteristiques p, .stars
    {
        margin-right: 5px;
        margin-left: 42%
    }

    /* Activités */
    #cadreCalanques, #cadreVieux, #cadre3, #cadre4, .cadre5
    {
        width: 200px;
    }

    /* vieux port et calanques*/
    #cadreCalanques, #cadreVieux
    {
        height: 320px;
    }
   
    /* fort de pomegues */
    #cadre3
    {
        height: 180px;
    }
   
    /* frioul */
    #cadre4
    {
        height: 110px;
    }

    /* notre dame et longchamp */
    .cadre5
    {
        height: 145px;
    }
    
    /* footer */
    #aPropos, #nosHebergements, #assistance
    {
        margin-right: 30px;
    }

}
