
p, h1, h2 
{
    font-family : 'Raleway', sans-serif;
}

h1, h2
{
    font-weight: bold;
}


#inscription a
{
    text-decoration : none;
    color : #0065FC;
    font-weight : 800;
}

#inscription
{
    margin-right : 3%;
}

#logo 
{
    margin-left : 3%;
}

#heb a
{
    padding-bottom: 5%;
}

nav a 
{
    text-decoration : none;
    color : black;
}

nav a:hover 
{
    color : #0065FC;
}

nav a:active
{
    color : #0065FC;
}

form 
{
    display: flex;
    flex-direction: row;
}

.villeSearch
{
    font-size: 1.3em;
    font-weight: bold;
    padding: 4% 0% 4% 4%;
    border: 1.5px #F2F2F2 solid;
}

#map
{
    font-size: 1.3em;
    text-align: center;
    background-color: #F2F2F2;
    width: 14%;
    padding-top: 4.5%;
    border-radius: 30% 0% 0% 30%;
    margin-right: -1%;

}

button
{
    font-size: 1.3em;
    text-align: center;
    color: white;
    background-color: #0065FC;
    padding-top: 1%;
    margin-left: -4%;
    width: 14%;
    border-radius: 30% 30% 30% 30%;
    border: none;
}

#filtres
{
    display: flex;
    flex-wrap: wrap;
}

#economique
{
    display: flex;
    flex-direction: row;
    width: 70%;
}

#economique p 
{
    font-size: 1em;
    font-style: bold;
    border: 2.5px #F2F2F2 solid;
    padding: 4% 6% 4% 6%;
    border-radius: 25%;
    text-align: center;
}

/* résolution mobile  */
@media all and (max-device-width: 480px), only screen and (max-width:600px)
{

#hautSite
{
    display : flex;
    flex-direction : row;
    justify-content : space-between;

}

nav
{
    display : flex;
    flex-direction : row;
    justify-content : space-around;
    border-bottom: 4px #F2F2F2 solid;
    }

#heb
{
    display: flex;
    width: 50%;
    justify-content: center;
}

#heb :hover
{
    display: flex;
    border-bottom: 4px #0065FC solid;
    width: 50%;
}

#act
{
    display: flex;
    width: 50%;
    justify-content: center;
}

h1
{
    font-size: 1.7em;
    margin: 5% 15% 3% 5%;
}

header p 
{
    font-size: 1em;
    margin-left: 5%;
    margin-bottom: 7%;
}
    
form 
{
    margin-bottom: 6%;
    justify-content: center;
}

header h2
{
    margin-left: 5%;
    font-size: 1.3em;
}



}